@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {	
	min-width: 1440px;
	background-color: #fff;
	box-sizing: border-box;
}
.wrapper {
	min-width: 1024px;
	min-height: 100vh;
}
.header {
	box-shadow: 0 4px 4px 0 rgba(79, 88, 178, 0.25);
	background: #fff;
	padding: 24px 0;
}
.navbar {
	display: flex;
}
.navbar .logo {
	flex: 0 0 75px;
	font: 600 24px/32px Helvetica, sans-serif;
	text-transform: uppercase;
	color: rgba(106,117,202, .7);
	margin: 0 165px 0 48px;
}
.navbar .logo:hover {
	opacity: .7;
}
.navbar-list {
	display: flex;
}
.navbar-list li {
	margin-right: 48px;
}
.navbar-list li a {
	font: 600 16px/32px Helvetica, sans-serif;
	color: #131320;
	text-transform: capitalize;
	border-bottom: 1px solid transparent;
}
.navbar-list li:nth-child(1) a {
	color: rgba(106,117,202, .7);
}
.navbar-list li a:hover {
	color: rgba(106,117,202, .7);
}
.main {
	display: flex;
}
.sidebar {
	flex: 0 0 175px;
	background: #C9C7F9;
	padding: 32px;
}
.sidebar-list li a {
	display: inline-flex;
	font: 16px/32px Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	padding: 0 0 16px 16px ;
	position: relative;
}
.sidebar-list li a:hover {
	opacity: .7;
}
.sidebar-list li:nth-child(1) a:before,
.sidebar-list li a:hover:before {
	content: "";
	width: 8px;
  	height: 8px;
  	border-radius: 50%;
  	background-color: #fff;
	position: absolute;
	left: 0;
	top: 10px;
}
.main-content {
	flex-grow: 1;
	padding: 0 0 24px;
	overflow: hidden;
}
.title-typography {
	font: 600 36px/42px Helvetica, sans-serif;
	color: #131320;
	border-bottom: 1px solid #131320;
	padding: 24px 48px;
	margin: 0 0 24px 0;	
}
.container {
	font: 16px/ 21px 'Courier Prime', monospace;
	display: flex;
	flex-flow: row wrap;
	padding: 0 48px;
	margin: 30px 0;
}
.box-info {
	width: 100%;
	height: 127px;
	font: 16px/21px Helvetica, sans-serif;
	position: relative;
	box-shadow: -10px 10px 10px rgba(79, 88, 178, 0.25);
	border-radius: 15px;
	background-color: #AAA8FA;
  	overflow: auto;	
}
.box-info:before {
    content: '';
    position: absolute;
    top: 0; right: 0;
    border-top: 55px solid #fff;
    border-left: 55px solid #AAA8FA;
    width: 0;
}
.box-info dl {
	display: flex;
	flex-flow: column;
	justify-content: space-between; 
	flex: 0 0 63px;
	padding: 30px 88px;
}
.box-info dl::before {
	content:'';
	background: url('../img/info.svg');
	height: 24px;
	width: 24px; 
	position: absolute;
	top: 50px;
	left: 32px;
	cursor: pointer;
}
.title-headline {
  font: bold 24px/32px Helvetica, sans-serif;
  color: #131320;
  text-transform: uppercase;
  border-bottom: 1px solid #131320;
  width: 100%;
  margin: 0 auto;
  padding: 0 0 15px 0;
}
.headings {
	color: #131320;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	text-transform: capitalize;
}
.headings li:nth-child(1) {
  	font-size: 54px;
  	line-height: 63px;
 	margin: 40px auto;
}
.headings li:nth-child(2) {
  font-size: 36px;
  line-height: 42px;
  margin: 40px 0 21px 0;  
}
.headings li:nth-child(3) {
  font-size: 24px;
  line-height: 42px;
  margin: 21px auto;
}
.headings li:nth-child(n+4) {
	font-size: 16px;
  	line-height: 21px;
	margin: 21px 0 0 0;
}
.box-border {
	width: 100%;
	padding: 16px;
	border-radius: 15px;
  	border: solid 1px #AAA8FA; 
  	background-color: #fff;
  	position: relative;
}
.box-border span {
	font: 600 12px/21px Helvetica, sans-serif;
	width: 33px;
  	height: 21px;
  	display: block;
  	text-transform: uppercase;
  	color: #ffc806;
  	background-color: #fff;
  	text-align: center;
	position: absolute;
	left: 24px;
	top: -10px;
	z-index: 1;
}
.box-html {
	color: #7d868e;
	height: 223px;
	position: relative;
	box-shadow: -10px 10px 10px rgba(79, 88, 178, 0.25);
	border-radius: 15px;
	background:linear-gradient(-135deg, transparent 35px, #E6E6E6 0) top right;
  	background-size: 100%;
  	background-repeat: no-repeat;
  	overflow: auto;
}
.box-html dl {
	padding: 48px;
}
.box-css {
	color: #7d868e;
	position: relative;
	box-shadow: -10px 10px 10px rgba(79, 88, 178, 0.25);
	border-radius: 15px;
	background:linear-gradient(-135deg, transparent 35px, #E6E6E6 0) top right;
  	background-size: 100%;
  	background-repeat: no-repeat;
  	overflow: auto;
  	padding: 48px;
}