<!DOCTYPE html>
<html>
    <head>
        <title>Components</title>
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/reset.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                <nav class="navbar">
                    <a class="logo" href="../Home/index.html">Mylib</a>
                    <ul class="navbar-list">
                        <li><a href="../Elements/index.html">elements</a></li>
                        <li><a href="index.html">components</a></li>
                        <li><a href="#">layouts</a></li>
                        <li><a href="#">drafts</a></li>
                        <li><a href="#">documentation</a></li>
                    </ul>    
                </nav>   
            </header>
            <main class="main">
                <nav class="sidebar">
                    <ul class="sidebar-list">
                        <li><a href="#">chevron menu</a></li>
                        <li><a href="#">dropdown menu</a></li>
                        <li><a href="#">modal box</a></li>
                        <li><a href="#">allerts</a></li>
                    </ul>
                </nav>
                <article class="content">
                    <p class="title-chevron">Chevron menu</p>
                    <div class="block">
                        <div class="bl-info">
                            <dl>
                                <dt>Possible to use on gradient background</dt>
                                <dt>Easy to use opacity for items background</dt>
                                <dt>Cross-browser</dt>
                            </dl>   
                        </div>
                    </div>
                    <section class="block">
                        <nav class="nav">
                            <ul class="nav-list">
                                <li class="nav-item">
                                    <a href="#">about</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">careers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">faq</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#">contact</a>
                                </li>
                            </ul>
                        </nav>
                    </section>
                    <section class="block">
                        <div class="bl-border">  
                            <span>html</span>  
                            <div class="bl-html">   
                                <dl class="bl-html-list">
                                    <dt>
                                        <code>&ltul class=”list”&gt</code>
                                    </dt>
                                    <dt>
                                        <code>&ltli&gt&lta href=”#”&gtAbout&lt/a&gt&lt/li&gt</code>
                                    </dt>
                                    <dt>
                                        <code>&ltli&gt&lta href=”#”&gtCareers&lt/a&gt&lt/li&gt</code>
                                    </dt>
                                    <dt>
                                        <code>&ltli&gt&lta href=”#”&gtFAQ&lt/a&gt&lt/li&gt</code>
                                    </dt>
                                    <dt>
                                        <code>&ltli&gt&lta href=”#”&gtContact&lt/a&gt&lt/li&gt</code>
                                    </dt>
                                    <dt>
                                        <code>&lt/ul&gt</code>
                                    </dt>
                                </dl>       
                            </div>
                        </div>  
                    </section>
                    <section class="block">
                        <div class="bl-border">  
                            <span>css</span>  
                            <div class="bl-css">             
<pre>div.menu-body-gradient {
 height: 96px;
 padding: 2px 0;
 background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 127.92%);
}</pre>
<pre>ul.list-gr {
 margin:0;
 padding: 0 60px;
 text-align: right;
}</pre>
<pre>ul.list-gr li {
 display: inline-block;
 position: relative;
 padding: 30px 25px 29px 25px;
 margin: 0 20px 0 25px;
 background-color: #ffffff;
 font-family: Helvetica;
 font-style: normal;
 font-weight: normal;
 font-size: 32px;
 line-height: 37px;
}</pre>          
<pre>ul.list-gr li:hover {
 opacity: 0.7
}</pre>                               
<pre>ul.list-gr li::after {
 position: absolute;
 top:0;
 left: 100%;
 content: "";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 48px 0 48px 25px;
 border-color: transparenttransparent transparent #ffffff;
}</pre>
<pre>ul.list-gr li > a {
 vertical-align: top;
 text-decoration: none;
 color: #000000;
}</pre>                          
<pre>ul.list-gr li > a::after {
 position: absolute;
 left: -25px;
 top: 0px;
 content: "";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 0 25px 48px 0;
 border-color: transparent #ffffff transparent transparent;
}</pre>                            
<pre>ul.list-gr li > a::before {
 position: absolute;
 left: -25px;
 top: 48px;
 content: "";
 width: 0;
 height: 0;
 border-style: solid;
 border-width: 0 0 48px 25px;
 border-color: transparent transparent #ffffff transparent;
}</pre>
                            </div>
                        </div>  
                    </section>
                </article>
            </main>
        </div>
    </body>
</html>